C 0 0 "HV_OUT22" 0 0 0 0 60 0 L
X "PIN_TEXT" "HV_OUT22" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "HV_OUT21" 0 -100 0 0 60 0 L
X "PIN_TEXT" "HV_OUT21" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "HV_OUT20" 0 -200 0 0 60 0 L
X "PIN_TEXT" "HV_OUT20" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "HV_OUT19" 0 -300 0 0 60 0 L
X "PIN_TEXT" "HV_OUT19" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "HV_OUT18" 0 -400 0 0 60 0 L
X "PIN_TEXT" "HV_OUT18" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 0 -500 "HV_OUT17" 0 -500 0 0 60 0 L
X "PIN_TEXT" "HV_OUT17" 230 -530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -500 0 -500 -1 0
C 0 -600 "HV_OUT16" 0 -600 0 0 60 0 L
X "PIN_TEXT" "HV_OUT16" 230 -630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -600 0 -600 -1 0
C 0 -700 "HV_OUT15" 0 -700 0 0 60 0 L
X "PIN_TEXT" "HV_OUT15" 230 -730 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -700 0 -700 -1 0
C 0 -800 "HV_OUT14" 0 -800 0 0 60 0 L
X "PIN_TEXT" "HV_OUT14" 230 -830 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -800 0 -800 -1 0
C 0 -900 "HV_OUT13" 0 -900 0 0 60 0 L
X "PIN_TEXT" "HV_OUT13" 230 -930 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -900 0 -900 -1 0
C 0 -1000 "HV_OUT12" 0 -1000 0 0 60 0 L
X "PIN_TEXT" "HV_OUT12" 230 -1030 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1000 0 -1000 -1 0
C 300 -1800 "HV_OUT11" 300 -1800 0 0 60 0 L
X "PIN_TEXT" "HV_OUT11" 330 -1570 90 0.00 60 0 0 0 0 0 1 0 74
L 300 -1600 300 -1800 -1 0
C 400 -1800 "HV_OUT10" 400 -1800 0 0 60 0 L
X "PIN_TEXT" "HV_OUT10" 430 -1570 90 0.00 60 0 0 0 0 0 1 0 74
L 400 -1600 400 -1800 -1 0
C 500 -1800 "HV_OUT9" 500 -1800 0 0 60 0 L
X "PIN_TEXT" "HV_OUT9" 530 -1570 90 0.00 60 0 0 0 0 0 1 0 74
L 500 -1600 500 -1800 -1 0
C 600 -1800 "HV_OUT_8" 600 -1800 0 0 60 0 L
X "PIN_TEXT" "HV_OUT_8" 630 -1570 90 0.00 60 0 0 0 0 0 1 0 74
L 600 -1600 600 -1800 -1 0
C 700 -1800 "HV_OUT_7" 700 -1800 0 0 60 0 L
X "PIN_TEXT" "HV_OUT_7" 730 -1570 90 0.00 60 0 0 0 0 0 1 0 74
L 700 -1600 700 -1800 -1 0
C 800 -1800 "HV_OUT_6" 800 -1800 0 0 60 0 L
X "PIN_TEXT" "HV_OUT_6" 830 -1570 90 0.00 60 0 0 0 0 0 1 0 74
L 800 -1600 800 -1800 -1 0
C 900 -1800 "HV_OUT_5" 900 -1800 0 0 60 0 L
X "PIN_TEXT" "HV_OUT_5" 930 -1570 90 0.00 60 0 0 0 0 0 1 0 74
L 900 -1600 900 -1800 -1 0
C 1000 -1800 "HV_OUT_4" 1000 -1800 0 0 60 0 L
X "PIN_TEXT" "HV_OUT_4" 1030 -1570 90 0.00 60 0 0 0 0 0 1 0 74
L 1000 -1600 1000 -1800 -1 0
C 1100 -1800 "HV_OUT_3" 1100 -1800 0 0 60 0 L
X "PIN_TEXT" "HV_OUT_3" 1130 -1570 90 0.00 60 0 0 0 0 0 1 0 74
L 1100 -1600 1100 -1800 -1 0
C 1200 -1800 "HV_OUT_2" 1200 -1800 0 0 60 0 L
X "PIN_TEXT" "HV_OUT_2" 1230 -1570 90 0.00 60 0 0 0 0 0 1 0 74
L 1200 -1600 1200 -1800 -1 0
C 1300 -1800 "HV_OUT_1" 1300 -1800 0 0 60 0 L
X "PIN_TEXT" "HV_OUT_1" 1330 -1570 90 0.00 60 0 0 0 0 0 1 0 74
L 1300 -1600 1300 -1800 -1 0
C 1600 0 "BL*" 1600 0 0 0 60 0 R
X "PIN_TEXT" "BL*" 1370 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1400 0 1600 0 -1 0
C 1600 -100 "DATA_IN" 1600 -100 0 0 60 0 R
X "PIN_TEXT" "DATA_IN" 1370 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1400 -100 1600 -100 -1 0
C 1600 -200 "LE*" 1600 -200 0 0 60 0 R
X "PIN_TEXT" "LE*" 1370 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1400 -200 1600 -200 -1 0
C 1600 -300 "VDD" 1600 -300 0 0 60 0 R
X "PIN_TEXT" "VDD" 1370 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 1400 -300 1600 -300 -1 0
C 1600 -400 "VSS" 1600 -400 0 0 60 0 R
X "PIN_TEXT" "VSS" 1370 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 1400 -400 1600 -400 -1 0
C 1600 -500 "CLK" 1600 -500 0 0 60 0 R
X "PIN_TEXT" "CLK" 1370 -530 0 0.00 60 0 0 2 0 0 1 0 74
L 1400 -500 1600 -500 -1 0
C 1600 -600 "POL*" 1600 -600 0 0 60 0 R
X "PIN_TEXT" "POL*" 1370 -630 0 0.00 60 0 0 2 0 0 1 0 74
L 1400 -600 1600 -600 -1 0
C 1600 -700 "N/C_3" 1600 -700 0 0 60 0 R
X "PIN_TEXT" "N/C_3" 1370 -730 0 0.00 60 0 0 2 0 0 1 0 74
L 1400 -700 1600 -700 -1 0
C 1600 -800 "N/C_2" 1600 -800 0 0 60 0 R
X "PIN_TEXT" "N/C_2" 1370 -830 0 0.00 60 0 0 2 0 0 1 0 74
L 1400 -800 1600 -800 -1 0
C 1600 -900 "N/C_1" 1600 -900 0 0 60 0 R
X "PIN_TEXT" "N/C_1" 1370 -930 0 0.00 60 0 0 2 0 0 1 0 74
L 1400 -900 1600 -900 -1 0
C 1600 -1000 "DATA_OUT" 1600 -1000 0 0 60 0 R
X "PIN_TEXT" "DATA_OUT" 1370 -1030 0 0.00 60 0 0 2 0 0 1 0 74
L 1400 -1000 1600 -1000 -1 0
C 300 800 "HV_OUT23" 300 800 0 0 60 0 R
X "PIN_TEXT" "HV_OUT23" 330 570 90 0.00 60 0 0 2 0 0 1 0 74
L 300 600 300 800 -1 0
C 400 800 "HV_OUT24" 400 800 0 0 60 0 R
X "PIN_TEXT" "HV_OUT24" 430 570 90 0.00 60 0 0 2 0 0 1 0 74
L 400 600 400 800 -1 0
C 500 800 "HV_OUT25" 500 800 0 0 60 0 R
X "PIN_TEXT" "HV_OUT25" 530 570 90 0.00 60 0 0 2 0 0 1 0 74
L 500 600 500 800 -1 0
C 600 800 "HV_OUT26" 600 800 0 0 60 0 R
X "PIN_TEXT" "HV_OUT26" 630 570 90 0.00 60 0 0 2 0 0 1 0 74
L 600 600 600 800 -1 0
C 700 800 "HV_OUT27" 700 800 0 0 60 0 R
X "PIN_TEXT" "HV_OUT27" 730 570 90 0.00 60 0 0 2 0 0 1 0 74
L 700 600 700 800 -1 0
C 800 800 "HV_OUT28" 800 800 0 0 60 0 R
X "PIN_TEXT" "HV_OUT28" 830 570 90 0.00 60 0 0 2 0 0 1 0 74
L 800 600 800 800 -1 0
C 900 800 "HV_OUT29" 900 800 0 0 60 0 R
X "PIN_TEXT" "HV_OUT29" 930 570 90 0.00 60 0 0 2 0 0 1 0 74
L 900 600 900 800 -1 0
C 1000 800 "HV_OUT30" 1000 800 0 0 60 0 R
X "PIN_TEXT" "HV_OUT30" 1030 570 90 0.00 60 0 0 2 0 0 1 0 74
L 1000 600 1000 800 -1 0
C 1100 800 "HV_OUT31" 1100 800 0 0 60 0 R
X "PIN_TEXT" "HV_OUT31" 1130 570 90 0.00 60 0 0 2 0 0 1 0 74
L 1100 600 1100 800 -1 0
C 1200 800 "HV_OUT32" 1200 800 0 0 60 0 R
X "PIN_TEXT" "HV_OUT32" 1230 570 90 0.00 60 0 0 2 0 0 1 0 74
L 1200 600 1200 800 -1 0
C 1300 800 "N/C_4" 1300 800 0 0 60 0 R
X "PIN_TEXT" "N/C_4" 1330 570 90 0.00 60 0 0 2 0 0 1 0 74
L 1300 600 1300 800 -1 0
L 200 600 1400 600 -1 0
L 1400 -1600 1400 600 -1 0
L 1400 -1600 200 -1600 -1 0
L 200 600 200 -1600 -1 0
P "$LOCATION" "?" 1450 770 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

